
div {
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 10em;
}



li{
    display: block;
    float: right;
    margin: 20px; 
    
    
}

h1{
    float: left;
    padding: 0.5em;
}

#fname{
    float: center;
    width: 70%;
   
}



#word{
    float: left;
    padding: 0.5em;
}